@model ProductVM

@{
    ViewData["Title"] = "Create";
}
<div class="container">

    <h1> @(Model.Product.Id != 0 ? "Update" : "Create")</h1>

    <h4>Product</h4>
    <hr />
    <div class="row">
        <div class="">
            <form asp-action="Upsert" enctype="multipart/form-data" method="post">
                <input asp-for="Product.Id" hidden />
                <input asp-for="Product.ImageUrl" hidden />
                <div class="row">
                    <div class="col-10">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="@Model.Product.Title" class="control-label"></label>
                            <input asp-for="@Model.Product.Title" class="form-control" />
                            <span asp-validation-for="@Model.Product.Title" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Product.Description" class="control-label"></label>
                            <textarea asp-for="@Model.Product.Description" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Product.ISBN" class="control-label"></label>
                            <input asp-for="@Model.Product.ISBN" class="form-control" />
                            <span asp-validation-for="@Model.Product.ISBN" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Product.Author" class="control-label"></label>
                            <input asp-for="@Model.Product.Author" class="form-control" />
                            <span asp-validation-for="@Model.Product.Author" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Product.ListPrice" class="control-label"></label>
                            <input asp-for="@Model.Product.ListPrice" class="form-control" />
                            <span asp-validation-for="@Model.Product.ListPrice" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Product.Price" class="control-label"></label>
                            <input asp-for="@Model.Product.Price" class="form-control" />
                            <span asp-validation-for="@Model.Product.Price" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Product.Price50" class="control-label"></label>
                            <input asp-for="@Model.Product.Price50" class="form-control" />
                            <span asp-validation-for="@Model.Product.Price50" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Product.Price100" class="control-label"></label>
                            <input asp-for="@Model.Product.Price100" class="form-control" />
                            <span asp-validation-for="@Model.Product.Price100" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Product.CategoryId" class="control-label"></label>
                            <select asp-for="@Model.Product.CategoryId" asp-items="@Model.CategoryList" class="form-select">
                                <option disabled selected>-- Select Category</option>
                            </select>
                            <span asp-validation-for="@Model.Product.CategoryId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Product.ImageUrl" class="control-label"></label>
                            <input type="file" name="file" class="form-control" />
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary"> @(Model.Product.Id != 0 ? "Update" : "Create")</button>
                        </div>
                    </div>

                    <div class="col-2">
                        <img src="@Model.Product.ImageUrl" width="200px" style="border-radius:5px; border:1px solid #bbb9b9" />
                    </div>
                </div>

            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index" class="btn btn-primary">Back to List</a>
    </div>

</div>

@section Scripts {
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
        });
    </script>
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

